{% block content %}

        <h3>Enter information for the location with free to use internet enabled computers.
        </br>
        The fields with a '*' are required:
        </h3>
        <form action="/" method="post">
            Business Name<input type="text" name="name" />*</br>
            Street Address<input type="text" name="street_address"/>*</br>
            Apt/Fl/Rm/Ste<input type="text" name="line_two"/></br>
            Contact number<input type="text" name="phone"/>*</br>
            website<input type="text" name="website"/></br></br>
            <h3>
            Enter the days and hours that the location will</br>
            provide free to use internet enables computers.</br>
            </h3>
            <h4>
            Examples for representing hours include:</br>
            Continuous Hours: "9am-2pm", "7am-6:30pm"</br>
            Split hours: "8am-10am, 2:30pm-3:30pm"</br>
            If there are no hours for said day, just leave field blank.
            </h4>
            Mon<input type="text" name="day0"/></br> 
  			Tue<input type="text" name="day1"/></br>
  			Wed<input type="text" name="day2"/></br>
  			Thu<input type="text" name="day3"/></br>
  			Fri<input type="text" name="day4"/></br>
  			Sat<input type="text" name="day5"/></br>
  			Sun<input type="text" name="day6"/></br>
			</br>
			
            <input type="submit" name="Add" value="Submit"/></br>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                
                <pre>
                    {% for message in messages %}
                        {% print message %}                
                    {% endfor %}
                </pre>
            {% endif %}  
        {% endwith %}     
{% endblock %}
